@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.submain {
  display: flex;
  height: 90vh;
  margin: 3% 0;
}

.submain-image-holder-little {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/images/food.svg");
  align-content: end;
}

.submain-section {
  width: 50%;
  height: 100%;
}

.submain-form {
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.submain-form-header {
  width: 100%;
}

.submain-form-header-h1 {
  font-size: 2.81rem;
  margin-bottom: 1rem;
}

.submain-form-header-p {
  font-size: 1rem;
  font-weight: 500;
}

.submain-form-content-select-holder {
  margin-top: 1.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.submain-form-content-select-label {
  font-size: 0.83rem;
  font-weight: 450;
  opacity: 0.7;
}

.submain-form-content-select-option {
  font-size: 0.79rem;
}

.submain-form-content-select {
  height: 100%;
  padding: 1.3rem;
  border: 1px solid #DBD9D9;
  border-radius: 5px;
  margin-top: 3%;
  font-size: 0.9rem;
  opacity: 0.8;
}

.submain-form-content-button {
  width: 100%;
  background: #FF6D40;
  border-radius: 5px;
  padding: 1.2rem;
  margin-top: 10%;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.submain-form-content-button:hover {
  background-color: #ffffff;
  border: 2px solid #FF6D40;
  color: #FF6D40;
}

.submain-form-content-p,
.submain-form-content-p > a {
  font-size: 0.875rem;
  line-height: 24px;
  margin-top: 5%;
  color: #AFAEAE;
}

.submain-form-content-p > a:hover {
  color: #FF6D40;
}

.submain-image-holder {
  width: 55%;
  background-repeat: no-repeat;
  background-image: url("../assets/images/food.svg");
  align-content: end;
  padding: 10%;
}

/* Media Queries */

@media only screen and (max-width: 550px) {
  * {
    font-size: 12px;
  }

  .submain-form-header-h1 {
    font-size: 1.8rem;
  }

  .submain-form-header-p {
    font-size: 0.8rem;
  }

  .submain-form-content-select-label {
    font-size: 0.7rem;
  }

  .submain-form-content-p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 280px) {
  * {
    font-size: 8px;
  }
}

@media only screen and (max-width: 279.9px) {
  .submain-image-holder-little {
    padding: 20%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 300px) {
  .submain-image-holder-little {
    padding: 40%;
  }
}

@media only screen and (max-width: 300px) {
  .submain {
    flex-direction: column;
  }
}

@media only screen and (min-width: 301px) and (max-width: 851px) {
  .submain {
    flex-direction: column;
  }

  .submain-image-holder-little {
    padding: 30%;
  }
}

@media (min-width: 375px) and (min-height: 800px) {
  * {
    font-size: 14px;
  }

  .submain-form-content-select {
    background-color: #ffffff;
    height: 100%;
    padding: 2rem;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 3%;
    opacity: 0.8;
    color: black;
  }

  .submain-form-content-select-option {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 850px) {
  .submain-image-holder-little {
    display: none;
  }
}

@media only screen and (max-width: 849.9px) {
  .submain-image-holder {
    display: none;
  }

  .submain-form {
    width: 100%;
  }
}

@media only screen and (min-width: 913px) and (max-width: 1030px) {
  .submain-form {
    padding: 5%;
  }

  .submain-form-content-select {
    margin-bottom: 0%;
    padding: 0.7rem;
  }

  .submain-form-content-button {
    padding: 0.7rem;
  }
}