<main class="submain">
  <section class="submain-image-holder-little">
  </section>
  <section class="submain-section submain-form">
    <section class="submain-form-main">
      <header class="submain-form-header">
        <h1 class="submain-form-header-h1">CountryRegionJS</h1>
        <h4 class="submain-form-header-p">Please select a location</h4>
      </header>
      <Form />
    </section>
  </section>
  <section class="submain-section submain-image-holder">

  </section>
</main>